In [1]:
# importing packages
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler, MaxAbsScaler, RobustScaler, Normalizer
from sklearn.metrics import accuracy_score, balanced_accuracy_score, classification_report, roc_curve, auc
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [2]:
print(os.getcwd())
total_tbi = os.getcwd() + "\\Dataset\\TBI\\TBI_data_2.csv"

F:\CTSN_TBI

In [3]:
df_tbi = pd.read_csv(total_tbi, delimiter = ",")
df_tbi.head()

,record_id,age_at_record,sex,tbi_cli_reason,tbi_cli_time_acci_hos,tbi_cli_pulse,tbi_cli_temp,tbi_cli_blood_pressure,tbi_cli_breathing_rate,tbi_cli_glasgow,...,ast_v2,alt_v2,d_2_protein,albumin_v2,ure_v2,creatinin_v2,prothrombin_v2,d_3_aptt,d_4_dtim,d_kl_tl
0,109,52.0,0.0,1.0,2.0,70.0,36.5,2.0,19.0,13,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2
1,110,75.0,0.0,7.0,NaN,77.0,36.8,2.0,22.0,13,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,2
2,112,37.0,0.0,1.0,NaN,67.0,36.6,2.0,18.0,15,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,2
3,113,66.0,0.0,1.0,NaN,75.0,36.5,2.0,19.0,14,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,3
4,114,20.0,0.0,1.0,4.0,85.0,36.8,2.0,18.0,15,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,2

In [4]:
# Replace "your_column_name" with the name of the column for which you want to calculate the median
column_name = "age_at_record"

# Calculate the median of the specified column
median_value = df_tbi[column_name].median()
std_deviation = df_tbi[column_name].std()

print("Standard Deviation of", column_name, ":", std_deviation)

print("Median of", column_name, ":", median_value)

Standard Deviation of age_at_record : 21.188408143831143
Median of age_at_record : 43.0

In [5]:
df_tbi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 70 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   record_id                                     260 non-null    int64
 1   age_at_record                                 259 non-null    float64
 2   sex                                           259 non-null    float64
 3   tbi_cli_reason                                259 non-null    float64
 4   tbi_cli_time_acci_hos                         240 non-null    float64
 5   tbi_cli_pulse                                 84 non-null     float64
 6   tbi_cli_temp                                  84 non-null     float64
 7   tbi_cli_blood_pressure                        83 non-null     float64
 8   tbi_cli_breathing_rate                        30 non-null     float64
 9   tbi_cli_glasgow                               260 non-null    int64
 10  tbi_cli_awaken                                258 non-null    float64
 11  tbi_cli_headache                              250 non-null    float64
 12  tbi_cli_blue                                  251 non-null    float64
 13  tbi_cli_para_ner                              252 non-null    float64
 14  tbi_cli_quadriplegia                          254 non-null    float64
 15  tbi_cli_epileptic                             253 non-null    float64
 16  tbi_cli_stiff_neck                            254 non-null    float64
 17  tbi_cli_dam_chest_abdomen                     255 non-null    float64
 18  tbi_cli_recall                                249 non-null    float64
 19  tbi_cli_pupils_left_size                      259 non-null    float64
 20  tbi_cli_pupils_left_reflex                    260 non-null    int64
 21  tbi_cli_pupils_right_size                     258 non-null    float64
 22  tbi_cli_pupils_right_reflex                   258 non-null    float64
 23  tbi_cli_diabetes                              248 non-null    float64
 24  tbi_cli_hypertension                          232 non-null    float64
 25  tbi_cli_stroke                                230 non-null    float64
 26  tbi_cli_cardiovascular                        228 non-null    float64
 27  tbi_ct_brain_parenchyma___1                   260 non-null    int64
 28  tbi_ct_brain_parenchyma___2                   260 non-null    int64
 29  tbi_ct_brain_parenchyma___3                   260 non-null    int64
 30  tbi_ct_brain_parenchyma___4                   260 non-null    int64
 31  tbi_ct_brain_parenchyma___5                   260 non-null    int64
 32  tbi_ct_brain_parenchyma___6                   260 non-null    int64
 33  tbi_ct_brain_parenchyma___7                   260 non-null    int64
 34  tbi_ct_brain_parenchyma___8                   260 non-null    int64
 35  tbi_ct_brain_parenchyma___9                   260 non-null    int64
 36  tbi_ct_brain_parenchyma___10                  260 non-null    int64
 37  tbi_ct_brain_parenchyma___11                  260 non-null    int64
 38  tbi_ct_brain_parenchyma___12                  260 non-null    int64
 39  tbi_ct_epidural_hematoma_volume               41 non-null     float64
 40  tbi_ct_epidural_hematoma_proportion           42 non-null     float64
 41  tbi_ct_epidural_hematoma_value                40 non-null     float64
 42  tbi_ct_subdural_hematoma_thick                93 non-null     float64
 43  tbi_ct_subdural_hematoma_position_proprotion  96 non-null     float64
 44  tbi_ct_subdural_hematoma_position_value       79 non-null     float64
 45  tbi_ct_cerebral_contusion_volume              78 non-null     float64
 46  tbi_ct_blood_hematoma_volume                  11 non-null     float64
 47  tbi_ct_blood_hematoma_proportion              12 non-null     float64
 48  tbi_ct_blood_hematoma_value                   10 non-null     float64
 49  tbi_ct_subarachnoid_characteristic            112 non-null    float64
 50  tbi_ct_midline_shift_width                    5 non-null      float64
 51  tbi_ct_bottom_tank_characteristic             6 non-null      float64
 52  tbi_ct_skull_fracture_characteristic          79 non-null     float64
 53  tbi_ct_skull_risk                             252 non-null    float64
 54  tbi_ct_rotterdam                              252 non-null    float64
 55  hong_cau_v2                                   257 non-null    float64
 56  bach_cau_v2                                   257 non-null    float64
 57  tieu_cau_v2                                   257 non-null    float64
 58  d_1_hst                                       251 non-null    float64
 59  ethanol                                       109 non-null    float64
 60  ast_v2                                        257 non-null    float64
 61  alt_v2                                        255 non-null    float64
 62  d_2_protein                                   214 non-null    float64
 63  albumin_v2                                    175 non-null    float64
 64  ure_v2                                        257 non-null    float64
 65  creatinin_v2                                  257 non-null    float64
 66  prothrombin_v2                                247 non-null    float64
 67  d_3_aptt                                      244 non-null    float64
 68  d_4_dtim                                      193 non-null    float64
 69  d_kl_tl                                       260 non-null    int64
dtypes: float64(54), int64(16)
memory usage: 142.3 KB

In [6]:
df_tbi.describe()

,record_id,age_at_record,sex,tbi_cli_reason,tbi_cli_time_acci_hos,tbi_cli_pulse,tbi_cli_temp,tbi_cli_blood_pressure,tbi_cli_breathing_rate,tbi_cli_glasgow,...,ast_v2,alt_v2,d_2_protein,albumin_v2,ure_v2,creatinin_v2,prothrombin_v2,d_3_aptt,d_4_dtim,d_kl_tl
count,260.000000,259.000000,259.000000,259.000000,240.000000,84.000000,84.000000,83.000000,30.000000,260.000000,...,257.000000,255.000000,214.000000,175.000000,257.000000,257.000000,247.000000,244.000000,193.000000,260.000000
mean,256.565385,43.498069,0.250965,1.536680,35.425000,78.428571,36.692857,2.120482,18.433333,13.053846,...,0.439689,0.235294,0.144860,0.091429,0.175097,0.190661,0.198381,0.311475,1.005181,2.369231
std,81.934758,21.188408,0.434408,1.276504,172.549291,10.695440,0.243857,0.327503,1.755451,2.900703,...,0.497318,0.425017,0.352785,0.289045,0.380792,0.393589,0.399590,0.464049,0.071982,0.726109
min,109.000000,9.000000,0.000000,1.000000,1.000000,52.000000,36.000000,2.000000,16.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,191.750000,24.000000,0.000000,1.000000,3.000000,74.000000,36.500000,2.000000,17.250000,13.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
50%,258.500000,43.000000,0.000000,1.000000,4.000000,76.500000,36.700000,2.000000,18.000000,14.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
75%,326.250000,61.500000,0.500000,2.000000,6.000000,84.000000,36.800000,2.000000,19.000000,15.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,3.000000
max,395.000000,90.000000,1.000000,7.000000,1440.000000,120.000000,37.500000,3.000000,25.000000,15.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,4.000000

### Missing value

In [7]:
from sklearn.impute import KNNImputer
null_df = pd.DataFrame(df_tbi.isnull().sum())
null_df[null_df[0]>0]

                                                0
age_at_record                                   1
sex                                             1
tbi_cli_reason                                  1
tbi_cli_time_acci_hos                          20
tbi_cli_pulse                                 176
tbi_cli_temp                                  176
tbi_cli_blood_pressure                        177
tbi_cli_breathing_rate                        230
tbi_cli_awaken                                  2
tbi_cli_headache                               10
tbi_cli_blue                                    9
tbi_cli_para_ner                                8
tbi_cli_quadriplegia                            6
tbi_cli_epileptic                               7
tbi_cli_stiff_neck                              6
tbi_cli_dam_chest_abdomen                       5
tbi_cli_recall                                 11
tbi_cli_pupils_left_size                        1
tbi_cli_pupils_right_size                       2
tbi_cli_pupils_right_reflex                     2
tbi_cli_diabetes                               12
tbi_cli_hypertension                           28
tbi_cli_stroke                                 30
tbi_cli_cardiovascular                         32
tbi_ct_epidural_hematoma_volume               219
tbi_ct_epidural_hematoma_proportion           218
tbi_ct_epidural_hematoma_value                220
tbi_ct_subdural_hematoma_thick                167
tbi_ct_subdural_hematoma_position_proprotion  164
tbi_ct_subdural_hematoma_position_value       181
tbi_ct_cerebral_contusion_volume              182
tbi_ct_blood_hematoma_volume                  249
tbi_ct_blood_hematoma_proportion              248
tbi_ct_blood_hematoma_value                   250
tbi_ct_subarachnoid_characteristic            148
tbi_ct_midline_shift_width                    255
tbi_ct_bottom_tank_characteristic             254
tbi_ct_skull_fracture_characteristic          181
tbi_ct_skull_risk                               8
tbi_ct_rotterdam                                8
hong_cau_v2                                     3
bach_cau_v2                                     3
tieu_cau_v2                                     3
d_1_hst                                         9
ethanol                                       151
ast_v2                                          3
alt_v2                                          5
d_2_protein                                    46
albumin_v2                                     85
ure_v2                                          3
creatinin_v2                                    3
prothrombin_v2                                 13
d_3_aptt                                       16
d_4_dtim                                       67

In [8]:
df_tbi["tbi_ct_rotterdam"].value_counts()

2.0    125
1.0     92
3.0     29
5.0      5
4.0      1
Name: tbi_ct_rotterdam, dtype: int64

In [9]:
df_tbi["tbi_cli_glasgow"].value_counts()

15    99
14    73
13    31
12    14
10     7
3      6
7      6
11     6
9      5
4      4
8      4
5      3
6      2
Name: tbi_cli_glasgow, dtype: int64

In [10]:
df_tbi["d_kl_tl"].value_counts()

2    142
3     80
1     20
4     18
Name: d_kl_tl, dtype: int64

In [11]:
from sklearn.impute import KNNImputer

In [12]:
knn_imputer = KNNImputer(n_neighbors=5)
df_tbi1 = pd.DataFrame(knn_imputer.fit_transform(df_tbi), columns=df_tbi.columns)

In [13]:
df_tbi1.head()

,record_id,age_at_record,sex,tbi_cli_reason,tbi_cli_time_acci_hos,tbi_cli_pulse,tbi_cli_temp,tbi_cli_blood_pressure,tbi_cli_breathing_rate,tbi_cli_glasgow,...,ast_v2,alt_v2,d_2_protein,albumin_v2,ure_v2,creatinin_v2,prothrombin_v2,d_3_aptt,d_4_dtim,d_kl_tl
0,109.0,52.0,0.0,1.0,2.0,70.0,36.5,2.0,19.0,13.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0
1,110.0,75.0,0.0,7.0,2.8,77.0,36.8,2.0,22.0,13.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0
2,112.0,37.0,0.0,1.0,4.0,67.0,36.6,2.0,18.0,15.0,...,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,1.0,2.0
3,113.0,66.0,0.0,1.0,2.8,75.0,36.5,2.0,19.0,14.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
4,114.0,20.0,0.0,1.0,4.0,85.0,36.8,2.0,18.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0

In [14]:
df_tbi1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 70 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   record_id                                     260 non-null    float64
 1   age_at_record                                 260 non-null    float64
 2   sex                                           260 non-null    float64
 3   tbi_cli_reason                                260 non-null    float64
 4   tbi_cli_time_acci_hos                         260 non-null    float64
 5   tbi_cli_pulse                                 260 non-null    float64
 6   tbi_cli_temp                                  260 non-null    float64
 7   tbi_cli_blood_pressure                        260 non-null    float64
 8   tbi_cli_breathing_rate                        260 non-null    float64
 9   tbi_cli_glasgow                               260 non-null    float64
 10  tbi_cli_awaken                                260 non-null    float64
 11  tbi_cli_headache                              260 non-null    float64
 12  tbi_cli_blue                                  260 non-null    float64
 13  tbi_cli_para_ner                              260 non-null    float64
 14  tbi_cli_quadriplegia                          260 non-null    float64
 15  tbi_cli_epileptic                             260 non-null    float64
 16  tbi_cli_stiff_neck                            260 non-null    float64
 17  tbi_cli_dam_chest_abdomen                     260 non-null    float64
 18  tbi_cli_recall                                260 non-null    float64
 19  tbi_cli_pupils_left_size                      260 non-null    float64
 20  tbi_cli_pupils_left_reflex                    260 non-null    float64
 21  tbi_cli_pupils_right_size                     260 non-null    float64
 22  tbi_cli_pupils_right_reflex                   260 non-null    float64
 23  tbi_cli_diabetes                              260 non-null    float64
 24  tbi_cli_hypertension                          260 non-null    float64
 25  tbi_cli_stroke                                260 non-null    float64
 26  tbi_cli_cardiovascular                        260 non-null    float64
 27  tbi_ct_brain_parenchyma___1                   260 non-null    float64
 28  tbi_ct_brain_parenchyma___2                   260 non-null    float64
 29  tbi_ct_brain_parenchyma___3                   260 non-null    float64
 30  tbi_ct_brain_parenchyma___4                   260 non-null    float64
 31  tbi_ct_brain_parenchyma___5                   260 non-null    float64
 32  tbi_ct_brain_parenchyma___6                   260 non-null    float64
 33  tbi_ct_brain_parenchyma___7                   260 non-null    float64
 34  tbi_ct_brain_parenchyma___8                   260 non-null    float64
 35  tbi_ct_brain_parenchyma___9                   260 non-null    float64
 36  tbi_ct_brain_parenchyma___10                  260 non-null    float64
 37  tbi_ct_brain_parenchyma___11                  260 non-null    float64
 38  tbi_ct_brain_parenchyma___12                  260 non-null    float64
 39  tbi_ct_epidural_hematoma_volume               260 non-null    float64
 40  tbi_ct_epidural_hematoma_proportion           260 non-null    float64
 41  tbi_ct_epidural_hematoma_value                260 non-null    float64
 42  tbi_ct_subdural_hematoma_thick                260 non-null    float64
 43  tbi_ct_subdural_hematoma_position_proprotion  260 non-null    float64
 44  tbi_ct_subdural_hematoma_position_value       260 non-null    float64
 45  tbi_ct_cerebral_contusion_volume              260 non-null    float64
 46  tbi_ct_blood_hematoma_volume                  260 non-null    float64
 47  tbi_ct_blood_hematoma_proportion              260 non-null    float64
 48  tbi_ct_blood_hematoma_value                   260 non-null    float64
 49  tbi_ct_subarachnoid_characteristic            260 non-null    float64
 50  tbi_ct_midline_shift_width                    260 non-null    float64
 51  tbi_ct_bottom_tank_characteristic             260 non-null    float64
 52  tbi_ct_skull_fracture_characteristic          260 non-null    float64
 53  tbi_ct_skull_risk                             260 non-null    float64
 54  tbi_ct_rotterdam                              260 non-null    float64
 55  hong_cau_v2                                   260 non-null    float64
 56  bach_cau_v2                                   260 non-null    float64
 57  tieu_cau_v2                                   260 non-null    float64
 58  d_1_hst                                       260 non-null    float64
 59  ethanol                                       260 non-null    float64
 60  ast_v2                                        260 non-null    float64
 61  alt_v2                                        260 non-null    float64
 62  d_2_protein                                   260 non-null    float64
 63  albumin_v2                                    260 non-null    float64
 64  ure_v2                                        260 non-null    float64
 65  creatinin_v2                                  260 non-null    float64
 66  prothrombin_v2                                260 non-null    float64
 67  d_3_aptt                                      260 non-null    float64
 68  d_4_dtim                                      260 non-null    float64
 69  d_kl_tl                                       260 non-null    float64
dtypes: float64(70)
memory usage: 142.3 KB

In [15]:
from sklearn.impute import KNNImputer
null_df = pd.DataFrame(df_tbi1.isnull().sum())
null_df[null_df[0]>0]

Empty DataFrame
Columns: [0]
Index: []

In [16]:
df_tbi1["tbi_ct_rotterdam"].value_counts()

2.0    129
1.0     93
3.0     29
5.0      5
1.2      1
1.6      1
4.0      1
1.8      1
Name: tbi_ct_rotterdam, dtype: int64

In [19]:
# from sklearn.cluster import KMeans

# kmeans = KMeans(n_clusters=4, random_state=0) 

# kmeans.fit(df_tbi1)

In [20]:
# Select features for clustering (replace with your actual column names)
features = df_tbi1.columns
 
# Extract the features for clustering
X = df_tbi1[features]

# Initialize the KMeans model
kmeans = KMeans(n_clusters=4, random_state=42)

# Fit the model to the data
kmeans.fit(X)

# Add the cluster labels to the DataFrame
df_tbi2["c_3_rotterdam"] = kmeans.fit_predict(X)

# Visualize the clusters (for 2D data only, adjust as needed)
plt.scatter(X.iloc[:, 0], X.iloc[:, 1], c=df_tbi2["c_3_rotterdam"], cmap='viridis')
plt.scatter(kmeans.cluster_centers_[:, 0], kmeans.cluster_centers_[:, 1], marker='x', s=50, linewidths=3, color='red')
plt.title('K-means Clustering')
plt.xlabel(features[0])
plt.ylabel(features[1])
plt.show()

C:\Users\HANGO\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\HANGO\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

NameError: name 'df_tbi2' is not defined